<script id="formTemplate" type="text/x-jquery-tmpl">

    <form method="post" action="#/">
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="firstName" value="${firstName}"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastName" value="${lastName}"></td>
            </tr>
        </table>
        <input type="submit" value="SUBMIT IT" />
    </form>

</script>
