.dashboard
{
    min-height: 30px;
    padding: 19px;
    /**margin-bottom: 20px;**/
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.dashboard-buttons
{
    min-height: 30px;
    padding: 19px;
    /**margin-bottom: 20px;**/
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.dashlet
{
    min-height: 30px;
    padding: 19px;
    /**margin-bottom: 20px;**/
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.dashlet-header
{
    font-size: 18px;
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 9px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

.dashlet-body
{
    border-top: 0px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;

    background-color: #ffffff;
}

.dashlet-title
{
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 200;
}