button.btn DIV.sort-ascending
{
    background-image: url(./sort_ascending-16.png);
    width: 16px;
    height: 16px;
}

button.btn DIV.sort-descending
{
    background-image: url(./sort_descending-16.png);
    width: 16px;
    height: 16px;
}

button.btn-lg DIV.sort-ascending
{
    background-image: url(./sort_ascending-24.png);
    width: 24px;
    height: 24px;
}

button.btn-lg DIV.sort-descending
{
    background-image: url(./sort_descending-24.png);
    width: 24px;
    height: 24px;
}

button.btn-lg.list-button-sort-direction-selector
{
    margin: 0px;
    padding: 8px;
}

.gadget.list TD.actions
{
    vertical-align: middle;
}

.gadget.list TD.actions .dropdown
{
    text-align: center;
}

.gadget.list TD.actions .dropdown UL.dropdown-menu
{
    text-align: left;
}

.documents-list .buttonbar .pull-right
{
    margin-right: -5px;
}