{{if chrome}}
<div>
    <div class="chrome chrome-header">
        <div class="chrome-title">${chrome.title}</div>
    </div>
    <div class="chrome chrome-body">
{{/if}}

        <div class="gadget list {{if cssClasses}}${cssClasses}{{/if}}" xmlns="http://www.w3.org/1999/html">

            {{if navbox}}
            <div class="navbox"></div>
            {{/if}}

            {{if buttons && buttons.length > 0}}
            <div class="buttonbar">
                <div class="pull-left">

                    {{each(key, button) buttons}}
                    {{if button.align == "left"}}

                    <div class="button-container {{if button.buttons}}dropdown{{/if}}">

                        <button id="list-button-${key}" class="btn list-button-${key} {{if button.buttons}}dropdown-toggle{{/if}}" {{if button.buttons}}data-toggle="dropdown"{{/if}}>
                            {{if button.iconClass}}<i class="${button.iconClass} icon-black"></i>{{/if}}
                                ${button.title}&nbsp;
                            {{if button.buttons}}
                                <span class="caret"></span>
                            {{/if}}
                        </button>

                        {{if button.buttons}}
                        <ul class="dropdown-menu" role="menu" aria-labelledby="list-button-${key}">
                            {{each(j, childButton) button.buttons}}
                            {{if childButton.divider}}
                                <li class="divider"></li>
                            {{else}}
                                <li>
                                    <a href="#" class="list-button-${childButton.key}">
                                        {{if childButton.iconClass}}<i class="${childButton.iconClass}"></i>{{/if}}
                                        ${childButton.title}
                                    </a>
                                </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                        {{/if}}

                    </div>

                    {{/if}}
                    {{/each}}

                </div>

                <div class="pull-right">

                    {{each(i, button) buttons}}
                    {{if button.align == "right" || !button.align}}

                    <div class="button-container {{if button.buttons}}dropdown{{/if}}">

                        <button id="list-button-${key}" class="btn list-button-${key} {{if button.buttons}}dropdown-toggle{{/if}}" {{if button.buttons}}data-toggle="dropdown"{{/if}}>
                            {{if button.iconClass}}<i class="${button.iconClass} icon-black"></i>{{/if}}
                                ${button.title}&nbsp;
                            {{if button.buttons}}
                                <span class="caret"></span>
                            {{/if}}
                        </button>

                        {{if button.buttons}}
                        <ul class="dropdown-menu" role="menu" aria-labelledby="list-button-${key}">
                            {{each(j, childButton) button.buttons}}
                            {{if childButton.divider}}
                                <li class="divider"></li>
                            {{else}}
                                <li>
                                    <a href="#" class="list-button-${childButton.key}">
                                        {{if childButton.iconClass}}<i class="${childButton.iconClass}"></i>{{/if}}
                                        ${childButton.title}
                                    </a>
                                </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                        {{/if}}

                    </div>

                    {{/if}}
                    {{/each}}

                </div>
            </div>
            {{/if}}

            <table width="100%" style="width: 100%" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>

                    <!-- checkbox -->
                    {{if checkbox}}
                    <th></th>
                    {{/if}}
                    {{if radio}}
                    <th></th>
                    {{/if}}

                    <!-- icon -->
                    {{if icon}}
                    <th></th>
                    {{/if}}

                    <!-- columns -->
                    {{each(i, column) columns}}
                    <th nowrap>${column.title}</th>
                    {{/each}}

                </tr>
                </thead>

                <tbody>

                </tbody>

            </table>
        </div>

{{if chrome}}
    </div>
</div>
{{/if}}
