.nav-stacked LI.active
 {
     background-color: #eeeeee;
     border-color: #428bca;
 }

.nav-header
{
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 5px;
}