<div class="btn-toolbar" style="margin: 0;">

    <!--  btn-primary, btn-danger, btn-warning, btn-success, btn-info, btn-inverse -->
    {{if buttons}}

        {{each(i, button) buttons}}
        <div class="btn-group {{if button.alignright}} pull-right{{/if}}">

            <button class="btn btn-item-title-${i} {{if button.type}} btn-${button.type}{{/if}}{{if button.large}} btn-large{{/if}}">${button.title}</button>
            {{if button.buttons}}<button class="btn btn-item-dropper-${i} {{if button.type}} btn-${button.type}{{/if}} dropdown-toggle {{if button.large}} btn-large{{/if}}" data-toggle="dropdown"><span class="caret"></span></button>{{/if}}

            {{if button.buttons}}
            <ul class="dropdown-menu">

                {{each(j, sub) button.buttons}}

                    {{if sub.divider}}
                    <li class="divider"></li>
                    {{else}}
                    <li><a href="${sub.link}">${sub.title}</a></li>
                    {{/if}}

                {{/each}}

            </ul>
            {{/if}}


        </div><!-- /btn-group -->
        {{/each}}

    {{/if}}

</div>