<div class="row-fluid">

    <div class="btn-group pull-right" data-toggle="buttons-checkbox">
        <button type="button" class="btn btn-large">Configure</button>
    </div>

</div>

<br/>

{{each(i, row) rows}}

<div class="row-fluid">

    {{each(j, column) row.columns}}

        <div class="{{if column.css}}${column.css}{{/if}}">

            {{each(k, dashlet) column.dashlets}}

                {{if (dashlet.type != null)}}
                    <div class="dashlet dashlet-header">
                        <div class="dashlet-title">${dashlet.title}</div>
                        <div class="btn-group pull-right" data-toggle="buttons-checkbox">
                            <button type="button" class="btn">+</button>
                        </div>
                    </div>
                    <div class="dashlet dashlet-body">
                        <gadget type="${dashlet.type}" {{if (dashlet.id != null)}}id="${dashlet.id}"{{/if}}></gadget>
                    </div>
                {{/if}}

                <br/>

            {{/each}}

        </div>

    {{/each}}

</div>

{{/each}}