<div class="well sidebar-nav {{if cssClasses}}${cssClasses}{{/if}}">

    {{if items.length > 0}}
    <ul class="nav nav-list">
        {{each(i, item) items}}
        {{if !item.hidden}}
            {{if item.header}}
            <li class="nav-header">${item.title}</li>
            {{else}}
            <li {{if item.current}}class="active"{{/if}}>
            <a href="javascript:void(0);" class="{{if item.items}}nav-sub-items {{/if}}sidebar-item-${i}">
                ${item.title}
            </a>
            {{if item.items}}
            <ul class="nav nav-list sub-nav" {{if !item.current}}style="display:none;"{{/if}}>
                {{each(j, subItem) item.items}}
                <li {{if subItem.current}}class="active"{{/if}}>
                <a href="javascript:void(0);" class="sidebar-item-${i}-sub-${j}">
                    &nbsp;
                    ${subItem.title}
                </a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
            </li>
            {{/if}}
        {{/if}}
        {{/each}}
    </ul>
    {{else}}
        There are no items configured.
    {{/if}}

</div><!--/.well -->
