<script id="pageTemplate" type="text/x-jquery-tmpl">

    You are on page: ${uri}
    <br/>
    <br/>
    <a href="#/1a">/1a</a>
    <br/>
    <a href="#/1b">/1b</a>
    <br/>
    <a href="#/1b/2a">/1b/2a</a>
    <br/>
    <a href="#/1b/2b">/1b/2b</a>
    <br/>
    <a href="#/1b/2b/3a">/1b/2b/3a</a>
    <br/>
    <a href="#/1b/2b/3b">/1b/2b/3b</a>
    <br/>
    <a href="#/1b/2b/3b/4a">/1b/2b/3b/4a</a>
    <br/>
    <a href="#/1b/2c">/1b/2c</a>
    <br/>
    <a href="#/1c">/1c</a>
    <br/>

</script>
